/* #region  BASE */
* {
    margin: 0;
    padding: 0;
    font-size: 10px
}

:root {
    --default-img: "";
}

body {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background:rgb(26, 26, 26)
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none
}

.no-gutters,
.no-gutters [class^='col-'] {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

/* #endregion */

/* #region  MAIN NAVBAR */
.main-nav {
    height: 60px;
    background: linear-gradient(to bottom, black -20%, rgba(0, 0, 0, 0) 90%);
}

.navbar-brand.bool-logo {
    color: red;
    font-size: 2.5rem;
    font-weight: 900;
}

.main-nav .nav-link {
    font-size: 1.5rem
}

.form-search input,
.fa.fa-search {
    font-size: 1.5rem;
    color: white
}

.btn-go-search {
    padding: 7px;
    border: 1px solid white;
}

/* #endregion */

/* #region  START HEADER CONTAINER */
#header {
    position: relative;
    width: 100%;
    min-height:600px;
    height: 65vh;
    background: rgb(77, 77, 77);
}

.header_image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

.wrapper-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper-result {
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid red;
    position: relative;
}

.wrapper-result .btn-ctrl {
    position: absolute;
    z-index: 1;
    right: 50px;
    ;
    bottom: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 50%;
    color: white;
}

.wrapper-result .btn-ctrl:focus {
    outline: none;
}

.wrapper-result i.fa {
    font-size: 1.5rem;
}

.wrapper-result button.prev {
    margin-right: 120px;
}

.wrapper-result button.play,
.wrapper-result button.pause {
    margin-right: 60px;
}

.wrapper-result button.play {
    display: none;
}

.wrapper-result .state-button {
    position: absolute;
    bottom: 40px;
    right: 60px;
    color: black;
    border: 1px solid red;
    z-index: 1;
}

.single-res {
    background: powderblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    font-size: 2rem;
    padding: 20px;
    opacity: 0;
    transition: opacity 1000ms ease-in;
    overflow: hidden;
    z-index:1

}
.series-result{
    background: purple;
}
.movies-result{
    background: rgb(3, 87, 20);
}
.latests-result{
    background: rgb(4, 12, 78);
}
.likes-result{
    background: rgb(238, 132, 38);
}


.single-res.on {
    opacity: 1
}
.single-res .backdrop-main{
    position: absolute;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width:100%;
    /* z-index:-1 */
}
.single-res h1 {
    position: absolute;
    color: white;
    left:60px;
    top:130px;
    transform:translateY(-100%);
    background:linear-gradient(to right, black,rgba(0, 0, 0, 0));
    border-left-width:10px;
    border-left-style:solid;
    border-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0),rgb(255, 255, 255)) 1 100%;
    width: fit-content;
    padding: 10px 20px;
    font-size: 3rem;
    
}
.single-res .book-cover{
    position:absolute;
    left:70px;
    top:140px;
    height:350px;
    box-shadow: 5px 5px 40px 2px rgba(255, 255, 255, 0.3);
}
.single-res .book-cover img{
    position:absolute;
    top:0;
    left:0;
}
.single-res .interactions{
    position:absolute;
    left:330px;
    top:140px;
    z-index: 1;
    border:1px solid red;
}
.single-res .data h2{
    display: block;
    font-size: 2.5em;
    font-weight: 300;
    font-style: italic;
    color:white;
    text-shadow: 1px 1px 2px black;
    

}

/* #endregion */

/* #region  SECTIONS SCROLLERS CONTAINER */
section {
    width:100%;
    height:auto;
    margin-bottom:30px;
    overflow-x: scroll;
    overflow-y: hidden;
}
section .wrapper-section{
    width:100%;
    height:200px;
    background: papayawhip;
}

/* #endregion */



/* ------ REPONSIVE AREA ------- */

/* #region  MEDIA QUERY */
@media (max-width:1142px){
    .single-res .backdrop-main{
        width:auto;
        height:100%
    }
}
@media (min-width:1200px) {}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width:769px) and (max-width:991px) {}

@media (min-width:576px) and (max-width:768px) {}

/* #endregion */